/* PART 1/4 */


#signup {
    background-color: rgb(85, 85, 150);
}
/* Sign Up Button */

ul>*,
ul>*>a {
    list-style: none;
    text-decoration: none;
}

/* Remove Underline + Bullet Point */

/* PART 2/4 */


/* PART 3/4 */


/* PART 4/4 */


/* FOOTER */

